issuetracker/src/main/resources/xml/xsd/Builds.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="builds">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="build" type="Build" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Build">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
			<xsd:element name="project-id" type="xsd:int"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:int" use="required"/>
	</xsd:complexType>
</xsd:schema>